%h1="Starbuzz Coffee Beverages #{@foo}"
.drinks
  -@drinks.each do |drink|
    %div{:id => "entry-#{drink.id}"}
      %h2="#{drink.name}, #{drink.price}"
      %p="#{drink.description}"
.links
  %p
    %a(href="mission") Read about our Mission
    %br
    Read the 
    %a(href="http://buzz.headfirstlabs.com") Caffeine Buzz
