%h1="Starbuzz Coffee Beverages #{@foo}"
.drinks
  -@drinks.each do |drink|
    %div{:id => "entry-#{drink.id}"}
      %h2="#{drink.name}, #{drink.price}"
      %p="#{drink.description}"
.links
  %p
    Read about 
    %a(href="mission"title="Read more about Starbuzz Coffee's important mission") our Mission
    %br
    Read the 
    %a(href="http://buzz.headfirstlabs.com#Coffee" title="Read all about caffeine on the Buzz") Caffeine Buzz
